#div1green{
	background-color: green;
	width: 1350px;
	height: 500px
}
#heading-1{
	text-align: center;
	color: white;


}
#heading-3{
	text-align: center;
	color: white;


}
#divcricle1{
	border-radius: 300px
	color: white;

}