#div1green{
	background-color: green;
	width: 1350px;
	height: 500px
}
#heading-1{
	text-align: center;
	color: white;


}
#heading-3{
	text-align: center;
	color: white;


}
#divcricle1{
	border-radius: 100px; 
	background-color: white;
	height: 100px;
	width: 100px;
	margin-left: 425px
}
#divcricle2{
	border-radius: 100px; 
	background-color: white;
	height: 100px;
	width: 100px;
	margin-left: 200px

}
#divcricle3{
	border-radius: 100px; 
	background-color: white;
	height: 100px;
	width: 100px;
	margin-left: 200px
}
#chevron{
	height: 100px;
	width: 150px;
	margin-left: 175px;
	margin-top: 250px;
}